@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgb(36, 36, 36);
    color: rgb(235, 235, 235);
    overflow-y: hidden;
}

.titleScreen, .settingsScreen {
    position: absolute;
    left: 26.5vw;
    top: 0vh;
    justify-items: center;
    margin: 20vh;
    visibility: visible;
}

.settingsScreen {
    position: absolute;
    left: 27.6vw;
    top: 0vh;
    visibility: hidden;
}

.title{ 
    display: flex;
    flex-direction: row;
    justify-items: center;
    font-family: "Pixelify Sans";
    font-size: 10vh;
    text-align: center;
}

buttons{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

buttons button{
    width: 27vh;
    border-radius: 0.8vh;
    height: 10vh;
    font-size: 3vh;
    text-align: center;
    background-color: rgb(187, 187, 187);
    border: 0px;
    margin-top: 3vh;
    box-shadow: 0px 0px 1vh 0px rgba(204, 204, 204, 1);
    cursor: pointer;
    font-family: "Pixelify Sans";
    transition: 0.3s;
}

footer{
    position: absolute;
    font-size: 2vh;
    font-family: "Montserrat";
    top: 97vh;
}

buttons button:hover{
    background-color: rgb(165, 165, 165);
    transition: 0.3s;
}
